#### Locale and keyboard
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us

#### Network
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string unassigned-domain
d-i hw-detect/load_firmware boolean false

#### Mirror
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string ${var.apt_proxy_http}

#### Clock
d-i clock-setup/utc boolean true
d-i time/zone string UTC
d-i clock-setup/ntp boolean true

#### Accounts
d-i passwd/root-login boolean true
d-i passwd/root-password password ${var.ssh_password}
d-i passwd/root-password-again password ${var.ssh_password}
d-i passwd/make-user boolean false

#### Partitioning
d-i partman-auto/method string regular
d-i partman-auto/expert_recipe string                         \
      boot-root ::                                            \
              538 538 1075 free                               \
                      $iflabel{ gpt }                         \
                      $reusemethod{ }                         \
                      method{ efi } format{ }                 \
              .                                               \
              1024 1024 -1 ext4                               \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ ext4 }    \
                      mountpoint{ / }                         \
              .
d-i partman-auto/choose_recipe select boot-root
d-i partman-partitioning/default_label string gpt
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

#### Packages
d-i base-installer/install-recommends boolean false
d-i apt-setup/non-free-firmware boolean true
d-i pkgsel/upgrade select full-upgrade
popularity-contest popularity-contest/participate boolean false
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string qemu-guest-agent cloud-init sudo curl ca-certificates

#### Bootloader
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string default

#### Finish
d-i finish-install/reboot_in_progress note

#### Late command
d-i preseed/late_command string \
    mkdir -p /target/root/.ssh; \
    echo '${ssh_public_key}' > /target/root/.ssh/authorized_keys; \
    chmod 700 /target/root/.ssh; \
    chmod 600 /target/root/.ssh/authorized_keys; \
    in-target sed -i 's|^#*PermitRootLogin.*|PermitRootLogin prohibit-password|' /etc/ssh/sshd_config
